@import "../../shared/colors";

.chat-message-list-main-container {

    #messages {
        background-color: $concrete_solid !important;
    }

    .message-list-container {
        position: relative;
        padding: 15px 15px 15px;
        border-color: $mercury_solid #eee #eee;
        border-style: solid;
        border-width: 1px 0;
        background-color: $iron;
        box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
        height: 60vh;
        overflow-y: scroll;
        background-color: $pickled_bluewood !important;
        border-radius: 8px;
    }

    p {
        font-size: 10px;
    }

}
